*{
  font-family: Kanit;
}

body{
  padding:0;
  margin:0;
  background-image: url('../public/images/novabg2.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  /* backdrop-filter: opacity(90%); */
  /* background-size: cover; */
}

.app-body{
  /* border:1px solid #fff; */
  background-image: linear-gradient(to bottom, #000000b0, #000000d8);
  padding:3rem 0;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-box{
  width:90%;
}


.head-box{
  /* border:1px solid #fff; */
  color:#f2f2f2;
}

.title{
  font-size:40px;
  text-align: center;
  margin:0;
}

#nova{
  color:#1a1a7c;
  color: #4a4e91;
  /* color:#14581f;
  color:#e014d6; */

  /* text-shadow: 0 0 3px #d699ff, 0 0 5px #3700ff; */
  font-weight: bold;
}

.subtitle{
  text-align: center;
  font-weight:lighter;
  margin-bottom:4rem;
  font-size: 16px;
  color:#ddd;
}


.qoute-box{
  padding:1rem;
  border-radius:10px;
  margin-bottom:2rem;
  min-height:10rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content:center ;

  background: rgba(0, 0, 0, 0.14);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}



.qoute, .author{
  color:#fff;
}

.qoute{
  font-size:20px;
  padding:0;
  margin:0;
  text-align:center;
  color:#f2f2f2;
  /* border:1px solid #fff; */
}

.author{
  font-size:14px;
  text-align: end;
  color:#ddd;
  text-align:center;
  margin-top:1rem;
  /* border:1px solid #fff; */
}


.btn-row{
  /* border: 1px solid #fff; */
  text-align: center;
}


.foot-box{
  margin-top:4rem;
  /* border:1px solid #fff; */
  text-align: center;
  color:#bbb;
  font-weight: 100;
}


#heart{
  color:#bf26dd;
  color: #454aab;
}

#me{
  font-weight: 500;
  color:#ffc4fd;
  color: #4f5289;
}

@media only screen and (min-width:700px){
  .app-body{
    padding:4rem 0;
  }
  .app-box{
    width:75%;
  }
}


@media only screen and (min-width:1000px){

  .app-body{
    background-image: linear-gradient(to bottom, #00000088, #000000d8);
  }

  .app-box{
    width:60%;
  }

  .title{
    font-size:50px;
  }

  .subtitle{
    font-size: 18px;
  }
  

  .qoute-box{
    padding:2rem 4rem;
  }

  .qoute{
    font-size:24px;
  }
  
  .author{
    font-size:16px;
  }
}